* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: currentColor; }

li {
  list-style: none; }

button {
  border: none; }

body {
  width: 100%;
  font-family: Gotham, sans-serif;
  font-size: 14px;
  font-weight: 400; }

body {
  display: flex; }

.main {
  width: 100%; }

.title-h2 {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px; }

.subtitle {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px; }

.body-text {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px; }

.tips {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px; }

.hpc-button {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  padding: 9px 16px;
  border: 2px solid #1BBD9F;
  border-radius: 5px;
  outline: none;
  background: transparent; }
  .hpc-button--outlined {
    color: #1BBD9F; }
    .hpc-button--outlined:hover {
      background-color: #1BBD9F;
      color: #fff;
      cursor: pointer; }
  .hpc-button--contained {
    background-color: #1BBD9F;
    color: #fff; }
    .hpc-button--contained:hover {
      background-color: #1BBD9F;
      cursor: pointer;
      opacity: .8; }

.close-btn:hover {
  cursor: pointer; }

.hpc-popup {
  width: 370px;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0px 2px 8px rgba(152, 142, 222, 0.08);
  border-radius: 8px;
  padding: 24px 18px 24px 24px; }
  .hpc-popup .close-btn {
    align-self: flex-end;
    margin: 0 10px 24px 0; }
  .hpc-popup .hpc-button--outlined {
    align-self: flex-end;
    margin: 24px 18px 0 0; }

.hpc-popup-with-scroll-bar {
  width: 320px;
  height: 435px;
  padding-right: 18px; }

.scrolled {
  overflow-y: scroll; }
  .scrolled::-webkit-scrollbar {
    width: 8px; }
  .scrolled::-webkit-scrollbar-track {
    background: rgba(152, 142, 222, 0.1); }
  .scrolled::-webkit-scrollbar-thumb {
    background: #988EDE;
    border-radius: 5px; }
  .scrolled::-webkit-scrollbar-button:single-button {
    width: 6px;
    height: 14px;
    border: none; }
  .scrolled::-webkit-scrollbar-button:single-button:vertical:decrement {
    background: rgba(152, 142, 222, 0.1) url(../images/hcp-scrollbar-arrow-up.svg) no-repeat center 5px;
    border-radius: 5px 5px 0 0; }
  .scrolled::-webkit-scrollbar-button:single-button:vertical:increment {
    background: rgba(152, 142, 222, 0.1) url(../images/hcp-scrollbar-arrow-down.svg) no-repeat center;
    border-radius: 0 0 5px 5px; }

.hpc-modal {
  max-width: 350px;
  width: 100%;
  background: #F5F5FA;
  box-shadow: 0px 2px 8px rgba(152, 142, 222, 0.08);
  border-radius: 8px;
  padding: 24px; }
  .hpc-modal__row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .hpc-modal__row--right {
      justify-content: flex-end; }
  .hpc-modal .title-h2 {
    color: #454C5C; }
  .hpc-modal .body-text {
    padding: 16px 0 24px 0;
    color: #454C5C; }
  .hpc-modal .hpc-button {
    text-align: right; }
  .hpc-modal .hpc-button--contained {
    margin-left: 24px; }

.hpc-aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  max-width: 250px;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(152, 142, 222, 0.08); }
  .hpc-aside__link {
    display: inline-block;
    padding: 15px 10px; }
    .hpc-aside__link--active {
      border-left: 4px solid #1BBD9F;
      background: linear-gradient(89.11deg, rgba(27, 189, 159, 0.15) 0.14%, rgba(255, 255, 255, 0) 95.84%); }
  .hpc-aside__list .subtitle {
    color: #717889; }
  .hpc-aside__list:first-child:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/clipboard-with-pencil-icon.svg) no-repeat center center; }
  .hpc-aside__down-list {
    padding-left: 32px;
    margin-bottom: 16px; }
    .hpc-aside__down-list a {
      color: #717889; }
  .hpc-aside__footer .subtitle {
    color: #454C5C; }
    .hpc-aside__footer .subtitle:before {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 8px 0 24px;
      background: url(../images/ellipse-icon.svg) no-repeat center center; }
  .hpc-aside .tips {
    text-align: center;
    padding: 10px 0;
    border-top: 2px solid #F5F5FA;
    color: #717889; }

input,
textarea,
select {
  width: 100%;
  height: 40px;
  border: 0.5px solid #A0A7B9;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 10px; }
  input:focus,
  textarea:focus,
  select:focus {
    color: #717889;
    border-color: #D1D8EB;
    outline: none; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #A0A7B9; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #A0A7B9; }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder {
    color: #A0A7B9; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: #A0A7B9; }
  input::placeholder,
  textarea::placeholder,
  select::placeholder {
    color: #A0A7B9; }

textarea {
  resize: none; }

.hcp-input-box {
  position: relative; }
  .hcp-input-box:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 0;
    height: 3px;
    z-index: 1;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
    background-color: #F46271;
    border-radius: 0px 0px 5px 5px; }
  .hcp-input-box.incorrect:before {
    left: 0;
    width: 100%;
    transform: translateX(0); }
  .hcp-input-box.incorrect + .hcp-input-box__error {
    visibility: visible; }
  .hcp-input-box label {
    display: block;
    color: #454C5C;
    margin-bottom: 8px; }
  .hcp-input-box__error {
    visibility: hidden;
    color: #F46271;
    font-family: 'Nunito Sans';
    font-size: 12px;
    line-height: 16px; }

.hcp-input-search-box {
  position: relative; }
  .hcp-input-search-box button {
    position: absolute;
    top: 10px;
    right: 15px;
    background: transparent; }
    .hcp-input-search-box button:hover {
      cursor: pointer; }
